extends admin

block details
    .row
        .col-sm-8
            h5 รายละเอียดออเดอร์
                .table-responsive.cart_info
                    table.table.table-condensed
                        thead
                            tr.cart_menu
                                td.image
                                td.description สินค้า
                                td.price ราคา
                                td.quantity จำนวน
                                td.total ยอดทั้งหมด
                        tbody
                            each product in products
                                -var quantity = product.Quantity;
                                -var name = product.ProductName;
                                -var productLink = '/cat/' + product.CategorySlug + '/' + product.ProductSlug;
                                -var unitPrice = product.ProductPrice;
                                -var productTotal = product.Total;
                                tr
                                    td.cart_product
                                        a(href=productLink)
                                            img(src='/img/products/' + product.Image, alt=name)
                                    td.cart_description
                                        h4
                                            a(href=productLink)= name
                                        p= product.Description
                                    td.cart_price
                                        p= unitPrice + ' บาท' 
                                    td.cart_quantity
                                        p=quantity
                                    td.cart_total
                                        p.cart_total_price= productTotal + ' บาท' 
        .col-sm-4
            .table-responsive.cart_info
                table.table.table-condensed.total-result
                    thead
                        tr.cart_menu
                            td(colspan=2) ที่อยู่ในการจัดส่ง
                    tbody
                        tr
                            td ชื่อ-สกุล
                            td= address.FullName
                        tr
                            td ที่อยู่
                            td= address.StreetAddress
                        tr
                            td
                            td= address.PostCode + ' ' + address.City
                        tr
                            td
                            td= address.Country
                        tr
                            td เบอร์โทร
                            td= address.Phone

    .row
        .col-sm-6
            h3= 'อัปเดตสถานะออเดอร์ #' + order.OrderID
            form(id='updateStatus', action='/admin//orders/' + order.OrderID + '/update', method='POST')
                select(id='status', name='status')
                    option(value='Order Received', selected) ได้รับคำสั่งซื้อแล้ว
                    option(value='Processing') กำลังจัดเตรียมคำสั่งซื้อ
                    option(value='Processed') กำลังจัดส่ง
                    option(value='Delivered') จัดส่งเสร็จแล้ว
                br
                button.btn.btn-default(type='submit') ยืนยัน
        .col-sm-6
            .table-responsive.cart_info
            table.table.table-condensed.total-result
                thead
                    tr.cart_menu
                        td(colspan=2) สรุปออเดอร์
                tbody
                    tr.shipping-cost
                        td จัดส่ง
                            td ฟรี
                    tr
                        td ยอดทั้งหมด
                        td
                            span= order.Total+ ' บาท'
