extends layout

block content
    section
        .container
            .row
                .features_items
                        h2.title.text-center การ์ดศิลปินเกาหลีที่แนะนำ
                        if featProducts
                            each product in featProducts
                                - var productUrl = '/cat/' + product.CategorySlug + '/' + product.ProductSlug;
                                .col-sm-3
                                    .product-image-wrapper
                                        .single-products
                                            .productinfo.text-center
                                                a(href=productUrl)
                                                    img(src='/img/products/' + product.Image, alt=product.ProductName)
                                                p
                                                    a(href=productUrl)=product.ProductName
                                                h2= product.ProductPrice + ' บาท'
                                                form(action='/cart/' + product.ProductID + '/add', method='POST')
                                                    button.btn.btn-default.add-to-cart(type='submit')
                                                        i.fa.fa-shopping-cart
                                                        | เพิ่มลงในตะกร้า
                    ///features_items
            .row
                .features_items
                    h2.title.text-center การ์ดศิลปินเกาหลีวงต่างๆ
                    if categories
                        each category in categories
                            .col-sm-3
                                a(href='/cat/' + category.CategorySlug)
                                    .product-image-wrapper
                                        .single-products
                                            .productinfo.text-center
                                                img(src='/img/categories/' + category.Image, alt=category.CategoryName)
                                                h2=category.CategoryName